html {
  height: 100%;
  width: 100%;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  font-size: 50px;
  font-family: Arial, sans-serif;
  animation: rainbow-text 3s linear infinite;
  
  glasses {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
  }
    git {
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        margin-top: 10px;
    }
  
    div {
        display: block;
        list-style-type: disc;
        text-align: left;
        font-weight: normal;
        font-size: 25px;
        margin-top: 10px;
        position: absolute;      
        left: 50%;
        transform: translateX(-50%);
    }
  
    ul {
        display: block;
        list-style-type: disc;
        text-align: left;
        font-weight: normal;
        font-size: 18px;
        margin-top: 10px;
    }
  
}

a {
  animation: rainbow-text 3s linear infinite;
}

@keyframes rainbow-text {
  0% {
    color: violet;
  }
  16.66% {
    color: indigo;
  }
  33.33% {
    color: blue
  }
  50% {
    color: green;
  }
  66.66% {

    color: yellow;
  }
  83.33% {
    color: orange;
  }
  100% {
    color: red;
  }
}

